.head-style {
    text-align: center;
    color: rgb(86, 216, 109);
    padding: 10pt;
  }
  
  
  p {
    text-align: center;
    color: rgb(255, 162, 0);
  }
  
  .button-section{
    text-align: center;
    padding: 1pc;
    color: sandybrown;
  }
  
  #footer{
    text-align: center;
  } 
  
  html body {
    background-color: #711010
  }