.head-style {
  text-align: center;
  color: blue;
  padding: 10pt;
}


p {
  text-align: center;
  color: red;
}

.button-section{
  text-align: center;
  padding: 1pc;
  color: sandybrown;
}

#footer{
  text-align: center;
}



#initialGreetingSection {
  color: lightgreen;
  padding: 10px 0;
  text-align: center;
}

#helloWorldSection {
  color: darkorange;
  padding: 40px 0;
  text-align: center;
  font-size: large;
  font-style:italic;
}


html body {
  background-color: black;
  padding: 10px;
}