html body {
  background-color: black;
  padding: 10px;
}

.head-style {
  text-align: center;
  color: blue;
  padding: 10pt;
}

p {
  text-align: center;
  color: red;
}

.button-start-section{
  text-align: center;
  padding: 1pc;
  color: sandybrown;
}

#footer{
  text-align: center;
}

#initialSection {
  color: lightgreen;
  padding: 10px 0;
  text-align: center;
}

#resultsSection {
  color: darkorange;
  padding: 40px 0;
  text-align: center;
  font-size: large;
  font-style:italic;
}

